{{>layouts/header}}
<!-- 단일 상세페이지 -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    {{#member}} <!-- 컨트롤러에서 선언한 변수의 사용범위를 설정 -->
        <tr>
            <th>{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/member}}

    </tbody>
</table>
<a href="/members"  class="btn btn-primary">목록 페이지</a>
<a href="/members/{{member.id}}/edit" class="btn btn-warning">수정하기</a>
<a href="/members/{{member.id}}/delete" class="btn btn-warning">탈퇴하기</a>

{{>layouts/footer}}